<nav>
  <mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" title="Inicio">
      <img src="/assets/img/logo.svg" class="logo" alt="logo">
    </a>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuBookings" *ngIf="authService.isLoggedIn()">
      <mat-icon>shopping_cart</mat-icon>
      Reservas
    </button>
    <mat-menu #menuBookings="matMenu">
      <button mat-menu-item routerLink="/books" *ngIf="authService.isAdmin()">Todas las reservas</button>
      <button mat-menu-item routerLink="/books/new" *ngIf="authService.isLoggedIn()">Mis reservas</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuBooks">
      <mat-icon>menu_book</mat-icon>
      Libros
    </button>
    <mat-menu #menuBooks="matMenu">
      <button mat-menu-item routerLink="/books">Listado libros</button>
      <button mat-menu-item routerLink="/books/new" *ngIf="authService.isAdmin()">Crear nuevo libro</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuAuthors">
      <mat-icon>person_book</mat-icon>
      Autores
    </button>
    <mat-menu #menuAuthors="matMenu">

      <button mat-menu-item routerLink="/authors">Listado autores</button>
      <button mat-menu-item routerLink="/authors/new" *ngIf="authService.isAdmin()">Crear nuevo autor</button>
    </mat-menu>

    <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/auth/login">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>


    <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/auth/register">
      <mat-icon>person_add</mat-icon>
      Crear cuenta
    </button>

    <button mat-button *ngIf="authService.isLoggedIn()" (click)="authService.logout()">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>

  </mat-toolbar>
</nav>