<h3>Three line lists</h3>
<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>face</mat-icon>
    <span matListItemTitle>Usuario 1</span>
    <span matListItemLine>usuario1@gmail.com</span>
    <span matListItemLine>+34 655444333</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Usuario 2</span>
    <span matListItemLine>usuario2@gmail.com</span>
    <span matListItemLine>+34 644332211</span>
  </mat-list-item>

</mat-list>