
<form [formGroup]="userForm" (ngSubmit)="save()">

  <div>
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" formControlName="email">
  </div>

  <div>
    <label for="fullName">Nombre completo:</label>
    <input type="text" id="fullName" formControlName="fullName">
  </div>

  <div>
    <label for="age">Edad:</label>
    <input type="number" id="age" formControlName="age" step="1" min="0">
  </div>

  <div>
    <label for="salary">Salario:</label>
    <input type="number" id="salary" formControlName="salary" step="0.01" min="0">
  </div>

  <div>
    <label for="isStudent">¿Es estudiante?</label>
    <input type="checkbox" id="isStudent" formControlName="isStudent">
  </div>

  <div>
    <label for="birthday">Fecha de cumpleaños</label>
    <input type="date" id="birthday" formControlName="birthday">
  </div>

  <div>
    <label for="entryHour">Hora de entrada:</label>
    <input type="time" id="entryHour" formControlName="entryHour">
  </div>

  <div>
    <label for="bookingDate">Fecha reserva:</label>
    <input type="datetime-local" id="bookingDate" formControlName="bookingDate">
  </div>

  <div>
    <label for="jobCategory">Departamento / Categoría:</label>
    <div>
      <label for="desarrollo">Desarrollo</label>
      <input id="desarrollo" type="radio" value="desarrollo" formControlName="jobCategory">

      <label for="marketing">Marketing</label>
      <input id="marketing" type="radio" value="marketing" formControlName="jobCategory">

      <label for="blockchain">Blockchain</label>
      <input id="blockchain" type="radio" value="blockchain" formControlName="jobCategory">
    </div>
  </div>

  <div>
    <label for="company">Empresa:</label>
    <select id="company" formControlName="company">
      <option value="">Seleccionar empresa</option>
      <option value="Adecco">Adecco</option>
      <option value="CertiDevs">CertiDevs</option>
      <option value="Jobify">Jobify</option>
      <option value="Petgram">Petgram</option>
    </select>
  </div>

  <div>
    <label for="hobbies">Intereses o hobbies:</label>
    <select id="hobbies" formControlName="hobbies" multiple>
      <option value="music">Música</option>
      <option value="sport">Deportes</option>
      <option value="nature">Naturaleza</option>
      <option value="travel">Viajar</option>
    </select>
    <small>Hacer Ctrl + Click para seleccionar varios.</small>
  </div>


  <div>
    <label for="bio">Descripción o biografía:</label>
    <textarea id="bio" formControlName="bio" rows="4"></textarea>
  </div>

  <div>

    <label for="avatar">Foto de perfil o avatar:</label>
    <img *ngIf="imageSrc" src="{{imageSrc}}" style="max-width: 150px;">
    <input type="file" (change)="uploadFile($event)">
  </div>

  <button type="submit">Guardar</button>
</form>
