<h1>FORMULARIO </h1>

<form [formGroup]="userForm" (ngSubmit)="save()">
    <div>
        <label for="fullName">Nombre:</label>
        <input type="text" id="fullName" formControlName="fullName">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
    </div>
    <div>
        <label for="age">Edad:</label>
        <input type="number" id="age" formControlName="age" step="1" min="0">
    </div>
    <div>
        <label for="salary">Salario:</label>
        <input type="number" id="salary" formControlName="salary" min="0">
    </div>
    <div>
        <label for="isStudent">¿Eres estudiante?:</label>
        <input type="checkbox" id="isStudent" formControlName="isStudent">
    </div>
    <div>
        <label for="birthday">Fecha cumpleaños:</label>
        <input type="date" id="birthday" formControlName="birthday">
    </div>
    <div>
        <label for="entryHour">Hora entrada:</label>
        <input type="time" id="entryHour" formControlName="entryHour">
    </div>
    <div>
        <label for="bookingDate">Fecha reserva:</label>
        <input type="datetime-local" id="bookingDate" formControlName="bookingDate">
        <!--SIRVE PARA LA RESERVA DE RESTAURANTE type="datetime-local" -->
    </div>
    <div>
        <label for="jobCategory">Departamento/Categoría:</label>
        <div>
            <label for="desarrollo">Desarrollo</label>
            <input type="radio" id="desarrollo" value="desarrollo" formControlName="jobCategory">

            <label for="marketing">Marketing</label>
            <input type="radio" id="marketing" value="marketing" formControlName="jobCategory">

            <label for="blockchain">Blockchain</label>
            <input type="radio" id="blockchain" value="blockchain" formControlName="jobCategory">

        </div>
        <input type="string" id="jobCategory" formControlName="jobCategory">
    </div>
    <div>
        <label for="company">Empresa:</label>
        <select name="company" id="company" formControlName="company">
            <option value="">Seleccionar empresa</option>
            <option value="ABC">ABC</option>
            <option value="QWE">QWE</option>
            <option value="ASD">ASD</option>
            <option value="TYU">TYU</option>

        </select>

    </div>

    <div>
        <label for="hobbies">Hobbies:</label>
        <select name="hobbies" id="hobbies" formControlName="hobbies" multiple>
            <option value="">Selecciona</option>
            <option value="music">Música</option>
            <option value="sports">Deportes</option>
            <option value="nature">Naturaleza</option>
            <option value="travel">Viajar</option>
        </select>
        <p><small>*Hacer Ctrl+Click para seleccionar varios.</small></p>
    </div>

    <div>
        <label for="bio">Biografía:</label>
        <textarea name="bio" id="bio" cols="30" rows="5" formControlName="bio"
            placeholder="Escriba dónde nació y vivió..."></textarea>
    </div>
    <div>
        <label for="avatar">Avatar:</label>
        <input type="file" formControlName="avatar" (change)="uploadFile($event)">
        <img src="{{imageSrc}}" *ngIf="imageSrc">
    </div>

    <button type="submit">Enviar</button>
</form>