<h1>Listado de libros</h1>
<button mat-raised-button color="primary" routerLink="/books/new">
    <mat-icon>add</mat-icon>
    Añadir 
</button>

<table mat-table [dataSource]="books" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let book">{{book.title|uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="sinopsis">
        <th mat-header-cell *matHeaderCellDef>Sinopsis</th>
        <td mat-cell *matCellDef="let book">{{book.sinopsis | limitLongText:15}} </td>
    </ng-container>
    <ng-container matColumnDef="release">
        <th mat-header-cell *matHeaderCellDef> Fecha lanzamiento</th>
        <td mat-cell *matCellDef="let book">{{book.release | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="numPages">
        <th mat-header-cell *matHeaderCellDef> Número de páginas</th>
        <td mat-cell *matCellDef="let book">{{book.numPages}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio</th>
        <td mat-cell *matCellDef="let book">{{book.price| number:'1.2-2'}}€</td>
    </ng-container>


    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let book" style="width: 400px;">

            <button mat-fab extended class="btn-secondary" [routerLink]="['/books', book.id]">
                <mat-icon>visibility</mat-icon>
                Ver
            </button>

            <button mat-fab extended color="btn-secondary" class=btn-warn [routerLink]="['/books', book.id, 'edit']">
                <mat-icon>edit</mat-icon>
                Editar
            </button>

            <button mat-fab extended color="btn-secondary" class=btn-warn (click)="deleteBook(book)">
                <mat-icon>delete</mat-icon>
                Borrar
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>