<h3>Formulario con validaciones</h3>

<form [formGroup]="userForm" (ngSubmit)="save()">

  <div>
    <label for="fullName">Nombre completo <span>*</span></label>
    <input type="text" id="fullName" formControlName="fullName">
    <div>
      <span *ngIf="userForm.get('fullName')?.getError('required') && userForm.get('fullName')?.touched">
        Nombre obligatorio.
      </span>
      <span *ngIf="userForm.get('fullName')?.getError('whitespaceError') && userForm.get('fullName')?.touched">
        Nombre no puede tener espacios en blanco
      </span>
    </div>
  </div>

  <div>
    <label for="email">Correo electrónico <span>*</span></label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      <span *ngIf="userForm.get('email')?.getError('required')">
        Email obligatorio.
      </span>
      <span *ngIf="userForm.get('email')?.getError('email')">
        Formato incorrecto, ejemplo: hola@example.com
      </span>
    </div>
  </div>

  <div>
    <label for="nickName">Nombre de usuario <span>*</span></label>
    <input type="text" id="nickName" formControlName="nickName">
    <div *ngIf="userForm.get('nickName')?.invalid && userForm.get('nickName')?.touched">
      <span *ngIf="userForm.get('nickName')?.getError('required')">
        Nickname obligatorio.
      </span>
      <span *ngIf="userForm.get('nickName')?.getError('minlength') ||
                      userForm.get('nickName')?.getError('maxlength')">
        Longitud comprendida entre 6 y 15 caracteres.
      </span>
    </div>
  </div>


  <div>
    <label for="salary">Salario <span>*</span></label>
    <input type="number" step="0" id="salary" formControlName="salary">
    <div *ngIf="userForm.get('salary')?.invalid && userForm.get('salary')?.touched">
      <span *ngIf="userForm.get('salary')?.getError('required')">
        Salario obligatorio.
      </span>
      <span *ngIf="userForm.get('salary')?.getError('min') ||
                      userForm.get('salary')?.getError('max')">
        Salario comprendido entre 16500 y 100000 €.
      </span>
    </div>
  </div>

  <div>
    <label for="nif">Documento de identidad (NIF) <span>*</span></label>
    <input type="text" id="nif" formControlName="nif">
    <div *ngIf="userForm.get('nif')?.invalid && userForm.get('nif')?.touched">
      <span *ngIf="userForm.get('nif')?.getError('required')">
        NIF obligatorio.
      </span>
      <span *ngIf="userForm.get('nif')?.getError('pattern')">

        NIF debe tener 8 números y una letra.
      </span>
    </div>
  </div>

  <div>
    <label for="phone">Nº teléfono </label>
    <input type="text" id="phone" formControlName="phone">
    <div *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched">
      <span *ngIf="userForm.get('phone')?.getError('required')">
        NIF obligatorio.
      </span>
      <span *ngIf="userForm.get('phone')?.getError('pattern')">
        Teléfono debe tener 9 dígitos.
      </span>
    </div>
  </div>

  <div>
    <label for="password">Contraseña: <span>*</span></label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
      <span *ngIf="userForm.get('password')?.getError('required')">
        Contraseña obligatoria.
      </span>
      <span *ngIf="userForm.get('password')?.getError('pattern')">
        Debe tener 8 números y 20 caracteres: min, masc, nº o caracter especial %&/().
      </span>
    </div>
  </div>
  <div>
    <label for="passwordConfirm">Confirmar contraseña</label>
    <input type="password" id="passwordConfirm" formControlName="passwordConfirm">
    <div *ngIf="userForm.get('passwordConfirm')?.invalid && userForm.get('passwordConfirm')?.touched">
        <span *ngIf="userForm.get('passwordConfirm')?.getError('pattern')">
          Debe contener entre 8 y 20 caracteres: minúscula, mayúscula, número o carácter especial $ % & / ( )
        </span>
    </div>
    <div *ngIf="userForm.getError('confirmError') && userForm.get('passwordConfirm')?.touched">
    <span>
        Las contraseñas no coinciden.
    </span>
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Guardar</button>
</form>