<h2>Listado de ordenadores</h2>

<div>
    <h3>Ordenador 1</h3>
    <p>
        <strong>Fabricante:</strong> {{ordenador1.fabricante}}
    </p>
    <p>
        <strong>Modelo:</strong> {{ordenador1.modelo}}
    </p>
    <p>
        <strong>Memoria RAM:</strong> {{ordenador1.ram}}
    </p>
</div>
<div>
    <h3>Ordenador 2</h3>
    <p>
        <strong>Fabricante:</strong> {{ordenador2.fabricante}}
    </p>
    <p>
        <strong>Modelo:</strong> {{ordenador2.modelo}}
    </p>
    <p>
        <strong>Memoria RAM:</strong> {{ordenador2.ram}}
    </p>
</div>