<footer>
    <!-- <mat-toolbar color="primary"> -->
        <mat-grid-list cols="4" rowHeight="125px" >
            <mat-grid-tile rowspan="2">
                <nav class="enlaces">
                    <h2>Sobre nosotros</h2>
                    <a routerLink="/">Enlace 1</a>
                    <a routerLink="/">Enlace 2</a>
                    <a routerLink="/">Enlace 3</a>
                </nav>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <nav class="enlaces">
                    <h3>Productos</h3>
                    <a routerLink="/">Enlace 1</a>
                    <a routerLink="/">Enlace 2</a>
                    <a routerLink="/">Enlace 3</a>
                </nav>
            </mat-grid-tile>

            <mat-grid-tile rowspan="2">
                <nav class="enlaces">
                    <h3>Servicios</h3>
                    <a routerLink="/">Enlace 1</a>
                    <a routerLink="/">Enlace 2</a>
                    <a routerLink="/">Enlace 3</a>
                </nav>
            </mat-grid-tile>

            <mat-grid-tile rowspan="2">
                <nav class="enlaces">
                    <h3>Contacto</h3>
                    <a routerLink="/">Enlace 1</a>
                    <a routerLink="/">Enlace 2</a>
                    <a routerLink="/">Enlace 3</a>
                </nav>
            </mat-grid-tile>
            <!-- fila que ocupa todas las columnas que digamos, en este caso, 4 COLSPAN="4" -->
            <mat-grid-tile colspan="4" rowspan="1">
                <nav>
            
                 <p>Copyright!!!!!!!!!!!!!!!!!!!!!! Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                </nav>
            </mat-grid-tile>

        </mat-grid-list>
    <!-- </mat-toolbar> -->
</footer>